*{
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.raleway-fonts {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* header */
.header{
  width: 99.9%;
  height: 580px;
  background-image: url('/images/Hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar{
  width: 1140px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
}
.hero-content {
  text-align: center;
  margin-top: 100px;
}
.logo{
  font-weight: 900;
}
.header-title{
  font-size: 65px;
  color: #252432;
  margin-bottom: 20px;
}

.btn{
 background-color: #4E47FF;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover {
  background-color: #3a36d1;
}

.heading{
  color: brown;
  text-align: center;
}

/* shared styles */
.primary-color{
  color: #4E47FF;
}





/* action starts */
.action-section{
  max-width: 1140px;
  height: 328px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  margin: 60px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.action-content {
  max-width: 512px;
}
.action-title{
  font-size: 42px;
  color: #252432;
  font-weight: 700;
  margin-bottom: 24px
}

.action-desc{
  font-size: 16px;
  font-weight: 600;
  color: #252432;
  margin-bottom: 20px;
}

.action-img img{
width: 403px;
height: 328px;
border-radius: 24px;
object-fit: cover;
}

/* action ends */


/* user section starts */
.user-section{
  width: 1140px;
  height: 206px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.2);
  padding-top: 40px;
  border-radius: 10px;
}
.user-main-title{
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  color: #252432;
}
.user-items{
  display: flex;
  width: 856px;
  height: 206px;
  margin: 0 auto;
  justify-content: space-between;
}
.user-title{
  font-size: 45px;
  font-weight: 700;
  color: #4E47FF;
  margin-top: 20px;
  margin-bottom: 12px;
}
.user-desc{
  color: #252432;
}
/* user section ends */


/* feedback */
.feedback{
  margin-top: 120px;
}
.img-container{
  margin-top: 24px;
}
.feedback-cards{
  display: flex;
  justify-content: space-between;
  width: 1140px;
  height: 243px;
  margin: 0 auto;
  gap: 16px;
  box-shadow: 0 4px 10px rgba(58, 54, 209, 0.15);
}
.feedback-card{
 padding-left: 20px;
 width: 367px;
 height: 243px;
 background-color: #FFFFFF;
}
.feedback-main-title{
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #252432;
  margin-bottom: 20px;
  margin-top: 30px;
}
.feedback-title{
  font-size: 30px;
  font-weight: 700;
  color: #252432;
  margin-top: 10px;
  margin-bottom: 12px;
}
.feedback-desc{
  font-weight: 600;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  margin-top: 12px;
}

.feedback-card-user{
  display: flex;
  gap: 8px;
}

.name{
  font-weight: 600;
  opacity: .6;
  margin-left: 12px;
}
.date{
  opacity: .5;
  margin-left: 12px;
}

/* footer */
/* .footer{
  width: 1356px;
  height: 428px;
  background-color: #FFFFFF;
  border: 1px solid red;
  text-align: center;
}
.footer-content{
  margin: 0 auto;
  height: 221px;
  width: 531px;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title{
  font-size: 50px;
}
.footer-desc{
  color: #8987A1;
}
.footer-links{
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
} */